@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
html{
    background-color: hsl(212, 45%, 89%);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo{
    background-color: hsl(0, 0%, 100%);
    max-width: 350px;
    font-size: 15px;
    font-family: Outfit;
    border-radius: 18px;
    text-align: center;
    padding: 18px;
    
}

img{
    border-radius: 30px;
    max-width: 95%;
    padding: 15px 10px;
}
h1{
    color: hsl(218, 44%, 22%);
    padding bottom: 15px 10px;
}
p{
    color: hsl(220, 15%, 55%);
    padding: 20px 15px;
} 